services:
  postgres:
    image: docker.io/postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: 100-hours-tracker
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
